<!DOCTYPE html>
<html>
<head>
  <title>Update new case</title>
  <style>
    .form-frame {
      border: 1px solid #ddd;
      padding: 15px;
      margin-bottom: 20px;
    }
    .form-row {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 10px;
    }
    .form-group {
      display: flex;
      flex-direction: column;
      margin-right: 10px;
      margin-bottom: 10px;
      width: 22%;
    }
    .form-group label {
      margin-bottom: 5px;
    }
  </style>
  <script src="./static/js_lib/d3.v6.min.js"></script>
  <script src="./static/js_lib/neo4j-web.js"></script>
</head>
<body>

<h1>Update cases</h1>
<!--<form method="POST" action="/fetch">  &lt;!&ndash; 修改了这里 &ndash;&gt;-->
<!--  <input type="text" name="url" placeholder="Enter URL here" style="width: 300px;"/>-->
<!--  <input type="submit" value="Fetch"/>-->
<!--</form>-->
<input type="text"  id="inputText"  name="url" placeholder="Enter URL here" style="width: 300px;"/>
<input type="submit"  id="submitButton"/>
<form action="/upload_doc" method="post" enctype="multipart/form-data">
  <input type="file" name="wordfile">
  <input type="submit">
</form>
<textarea id="text_content" rows="10" cols="50" placeholder="Input text here"></textarea>
<button id="submit_text">submit</button>
<div id="form" class="form-frame"></div>
<button id="confirmBtn">Confirm</button>
<script src="./static/js/upload.js"></script>
<!--<button id="fillBtn">Fill Text Inputs</button>-->
<script>

</script>
</body>
</html>
